.inputC{
  width: 60%;
  margin-bottom: 16px;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.inputC input{
  width: 100%;
  display: block;
  text-align: center;
}
.inputC .collection{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    align-items: center;
    margin: auto;
}
